body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: monospace;
    background-color: #ede9e4;
    color: #000000;
    background-image: url(Images/fundo\ 2.jpg);
    font-size: larger;
    font-style: italic;
    
   
}

header {
    background-color: #1d0808;
    height: 180px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-image: url(Images/fundo3.jpg);
    color: white;
    border: 2px solid;
    
    
}

header figure {
    width: 80px;
    height: 80px;
    background-color: #150707;
    margin: 0;
    padding: 0;
    

}
main {
    min-height: 900px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    background-color:#D2B48Caa;
    
    
    

}

.boxlivro {
    width: 450px;
    height: 230px;
    background-color:#B8860B;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px 10px 50px;
    display: flex;
}

.boxlivro:hover {
    box-shadow: 6px 6px 10px 0;
    padding: 0;
}

.boxlivro figure {
    width: 140px;
    height: 1px;
    background-color: #e6e6e6;
    margin: 0 20px 0 0;
    padding: 0;
    border: 1 px solid black;
}

.boxlivro p{

}

.boxlivro span {
    font-size: 30 px;
    font-weight: 900;
    margin: 0 0 0 40px;
    padding: 0;
}

footer {
    
    height: 70px;
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: left;
    background-color: #DEB887;
    
}

footer figure {
    width: 50px;
    height: 50px;
    background-color: #696969;
    margin: 0 30px 0 50px;
    padding: 0;
}

footer p {
    font-weight: 800;
    font-size: 20px;
    margin: 10px 0 0 0 ;
    color: white;
}

button{
    border:1px solid #25692A;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
    font-family: sans-serif;
}
button:hover{
    background:linear-gradient(to bottom, #68b465 5%, #abd5aa 100%);
}

img { border-radius: 15px;}


